.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background-color: #333;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.1s ease;
  transition: background 0.3s ease;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-hover-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-title {
  margin: 20px 0;
  color: white; 
  position: relative;
   z-index:1;
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  -webkit-text-stroke: 0px transparent; 
  transition: color 0.1s ease, -webkit-text-stroke 0.1s ease, text-shadow 0.1s ease;
  margin:0;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-icon{
    color: #fff;
    font-size: 20px;
    z-index:1;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-icon .dashicon{
    width: auto;
    height: auto;
    font-size: 20px;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-desc {
  font-size: 1.2rem;
  margin: 20px 0;
  color: white;
  z-index:1;
   opacity: 1;
  transition: opacity 0.5s ease;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-btn {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 20px 20px 20px 20px;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.5s ease;
    z-index:1;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .w-magic-btn:hover {
  background: white;
  color: black;}.wkit-wb-Widget_c5zodj25 .wkit-magic-hover-cta .wkit-mhcta-fill-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  pointer-events: none;
  transition: background 0.1s ease;
  opacity:0.3;}