[class*="wkit-wb-Widget_"] {
  width: 100%;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-images-carousel{
    display: block;
    position: relative;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-images-carousel .tabbed-splide.splide {
    visibility: visible;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-left{
    flex-direction: column;}.wkit-wb-Widget_tedwgp24 .carousel-right-image{
    text-align: center;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-images-carousel .carousel-right-image img {
    max-width: 100%;
    height: auto;}.wkit-wb-Widget_tedwgp24 .carousel-left-content{
    position: relative;
    cursor: pointer;
    box-shadow: 0 25px 70px -8px rgba(0,0,0,.1); 
    transition: 0.3s linear;}.wkit-wb-Widget_tedwgp24 .carousel-left-content:not(:last-child){
    margin-bottom: 10px;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-left, .tabbed-splide {
    display: inline-flex;
    width: 48%;}.wkit-wb-Widget_tedwgp24 .car-content-title{
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: 0;
    transition: all .2s linear;
    font-size: 18px;
    line-height: 29px;
    font-weight: 100;
    color: #101011;
    padding: 10px 0 10px 10px;
     transition: 0.3s linear;}.wkit-wb-Widget_tedwgp24 .car-content-desc{
    display: none;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #747474;
    margin: 0;
    padding: 10px 0 10px 10px;
     transition: 0.3s linear;}.wkit-wb-Widget_tedwgp24 .tabbed-auto-play-yes .carousel-left-content:after {
    display: inline-flex;
    content: '';
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform 0ms ease-out;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;}.wkit-wb-Widget_tedwgp24 .tabbed-auto-play-yes .carousel-left-content.active:after{
    transform: scaleX(1);
    transform-origin: 0% 50%;
    transition: transform var(--border-duration, 5s) ease-in;}.wkit-wb-Widget_tedwgp24 .layout-reverse-yes .wkit-tabbed-wrapper {
    flex-direction: row-reverse;}@media (max-width: 767px) {  .wkit-wb-Widget_tedwgp24
    .wkit-tabbed-wrapper {
        flex-direction: column;}.wkit-wb-Widget_tedwgp24 .layout-reverse-yes .wkit-tabbed-wrapper {
        flex-direction: column;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-left, .tabbed-splide {
        width: 100%;}.wkit-wb-Widget_tedwgp24 .wkit-tabbed-right {
       margin-top: 30px !important;}}