.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #8072fc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-inn-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 1;
  transition:transform 700ms cubic-bezier(0.19, 1, 0.22, 1);}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact:hover .wkit-card-hvr-inn-content:hover {
    transform: translateY(0);}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-title{
  position:relative;
  display:flex;
  width: 100%;
  color: #ffffff;
  justify-content:center;
  align-items:center;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin:0;
  transition: 0.3s linear;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-desc{
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  margin-top:15px;
  transition: 0.3s linear;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-btn{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  transition: 0.3s linear;
   text-decoration: none;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-btn{
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  letter-spacing: 0.025rem;
  color: #ffffff;
  background-color: #000000;
  border: none;
  overflow: hidden;
  transition: 0.3s linear;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-btn:hover{
    background-color: lighten(black, 5%);}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-btn:focus{
    outline: 1px solid #ffffff;
    outline-offset: 1px;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact [data-ttl=""]{
    display:none;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact [data-desc=""]{
    display:none;}.wkit-wb-Widget_ko2nhe24 .wkit-card-hvr-main-interact [data-btn=""]{
    display:none;}