.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-content-bg.row {
	display: flex;
	flex-wrap: wrap;}[data-ttl=''],[data-desc='']{
    display: none !important;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-content-bg{
    position:relative;
    transition: .3s;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-1{
    width:100%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-2{
    width:50%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-3{
    width:33.33%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-4{
    width:25%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-5{
    width:20%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-6{
    width:16.66%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-7{
    width:14.28%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-dcl-8{
    width:12.5%;}@media only screen and (min-width: 768px) and (max-width: 1024px)   {  .wkit-wb-Widget_tb0xmk24	
	.wkit-multi-step-hz-wrapper .hz-tcl-1{
        width:100%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-tcl-2{
        width:50%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-tcl-3{
        width:33.33%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-tcl-4{
        width:25%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-tcl-5{
        width:20%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-tcl-6{
        width:16.66%;}}@media only screen and (min-width: 246px) and (max-width: 767px)   {  .wkit-wb-Widget_tb0xmk24	
	.wkit-multi-step-hz-wrapper .hz-mcl-1{
        width:100%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-mcl-2{
        width:50%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-mcl-3{
        width:33.33%;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .hz-mcl-4{
        width:25%;}}@media only screen and (min-width: 246px) and (max-width: 767px)   {  .wkit-wb-Widget_tb0xmk24	
	.wkit-multi-step-hz-wrapper {
		padding-left: 0;
		padding-right: 0;}}.wkit-wb-Widget_tb0xmk24 .wkit-hz-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    word-wrap: break-word;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-card:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);}.wkit-wb-Widget_tb0xmk24 .wkit-hz-step-content {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    overflow:hidden;
    transition: .3s linear;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-step-title,.wkit-hz-progress-icon,.wkit-hz-progress-img{
	display:none;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-text .wkit-hz-step-title{
    position: relative;
    display: inline-block;
    color:#000;
    margin-bottom: 16px;
    overflow:hidden;
    transition: .3s linear;
    margin-top: 18px;
    line-height: 1;
    font-size: 20px;}.wkit-wb-Widget_tb0xmk24 .wkit-progress-area{
    margin-bottom: 16px;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-step-desc{
    position: relative;
    display: inline-block;
    color:#000;
    overflow:hidden;
    transition: .3s linear;
    margin-bottom: 20px;}.wkit-wb-Widget_tb0xmk24 .wkit-prg-one {
    background-size: 1536px 447px;
    background-position: -437.1px -1126.13px;
    background-attachment: scroll;}.wkit-wb-Widget_tb0xmk24 .wkit-prg-two {
    background-size: 1536px 447px;
    background-position: -422.1px -1115.13px;
    background-attachment: scroll;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-active-yes .wkit-bg-gray-2 {
    background-color: #1818e8;}.wkit-wb-Widget_tb0xmk24 .wkit-bg-gray-2:hover {
    background-color: #cbd3da;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-bg-dark-opacity-3 {
    background-color: rgba(0, 0, 0, 0.3);}.wkit-wb-Widget_tb0xmk24 .wkit-hz-bg-dark-opacity-3:hover {
    background-color: rgba(0, 0, 0, 0.3);}.wkit-wb-Widget_tb0xmk24 .wkit-shadow-hover-lg:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1), 0 2rem 3rem rgba(0, 0, 0, 0.15);}.wkit-wb-Widget_tb0xmk24 .wkit-hz-bg-gradient-primary {
    background-color: #1818e8;}.wkit-wb-Widget_tb0xmk24 .wkit-pix-leveles-dot-div {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    width: 100%;
    margin-top: -39px;
    margin-left: -15px;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-dot-inner {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step:hover .wkit-hz-pix-levels-dot {
    transform: scale(1.25);}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step .progress {
    position: relative;
    border-radius: 0;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
    width: 100%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step .progress .progress-bar {
    width: 0;
    box-shadow: none;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step.wkit-hz-complete .progress .progress-bar {
    width: 100%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step.wkit-hz-active-yes .progress .progress-bar {
    width: 50%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step:first-child.wkit-hz-active-yes .progress .progress-bar {
    width: 0%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step:last-child.wkit-hz-active-yes .progress .progress-bar {
    width: 100%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step.disabled .wkit-hz-pix-levels-dot {
    background-color: #f5f5f5;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step.disabled .wkit-hz-pix-levels-dot:after {
    opacity: 0;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step:first-child .progress {
    left: 50%;
    width: 50%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-pix-levels-step:last-child .progress {
    width: 50%;}.wkit-wb-Widget_tb0xmk24 .wkit-hz-bg-gradient-primary {
    background-attachment: scroll;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-icon .wkit-hz-progress-icon {
    margin-top: 18px; 
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 1;
    display: inline-block;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-icon .wkit-hz-progress-icon .dashicon{
    width: auto;
    height: auto;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-image .wkit-hz-progress-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 19px; 
    margin-bottom: 43px;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-image .tp-hz-title-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: auto;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-inner-style-2 .wkit-prg-two .wkit-hz-pix-levels-dot-inner {
    background: unset !important;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-inner-style-2 .wkit-prg-two:before{
    content: attr(data-index);
    position: relative;
    display: block;
    font-size: 16px;
    color: #fff;
    top: 1px;
    transition: .3s linear;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-style-icon{
    display: none;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper.wkit-hz-style-2 .wkit-hz-style-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-inner-style-3 .wkit-hz-pix-levels-dot-inner.wkit-hz-check-mark:before {
    position: relative;
	display: block;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free', 'FontAwesome';
    color: #fff;
    content: '\f00c';
    top: -4px;  
    transition: .3s linear;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-inner-style-3 .wkit-hz-pix-levels-dot-inner.wkit-hz-check-mark.wkit-hz-bg-dark-opacity-3 {
    background-color: unset;}.wkit-wb-Widget_tb0xmk24 .wkit-multi-step-hz-wrapper .wkit-hz-step-content.wkit-hz-pix-levels-step.wkit-hz-active-yes{
    opacity: 100%;}