[class*="wkit-wb-Widget_"] {
  width: 100%;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0;}[data-ttl=''],[data-desc='']{
    display: none !important;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-content-bg{
    position:relative;
    transition: .3s;}@media only screen and (min-width: 246px) and (max-width: 768px)   {  .wkit-wb-Widget_7kq3uw24	
	.wkit-multi-step-vl-wrapper {
		padding-left: 0;
		padding-right: 0;}}.wkit-wb-Widget_7kq3uw24 .wkit-vl-card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    word-wrap: break-word;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-card:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);}.wkit-wb-Widget_7kq3uw24 .wkit-vl-step-content {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    transition : .3s linear;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-step-title,.wkit-vl-progress-icon,.wkit-vl-progress-img{
	display:none;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-text .wkit-vl-step-title{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#000;
    padding-bottom: 16px;
    transition: .3s linear;
    margin-top: 20px;}.wkit-wb-Widget_7kq3uw24 .wkit-progress-area{
    margin-bottom: 16px;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-step-desc{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    color:#000;
    transition: .3s linear;
    margin-bottom: 20px;}.wkit-wb-Widget_7kq3uw24 .wkit-prg-one {
    background-size: 1536px 447px;
    background-position: -437.1px -1126.13px;
    background-attachment: scroll;}.wkit-wb-Widget_7kq3uw24 .wkit-prg-two {
    background-size: 1536px 447px;
    background-position: -422.1px -1115.13px;
    background-attachment: scroll;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-active-yes .wkit-bg-gray-2 {
    background-color: #1818e8;}.wkit-wb-Widget_7kq3uw24 .wkit-bg-gray-2:hover {
    background-color: #cbd3da;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-bg-dark-opacity-3 {
    background-color: rgba(0, 0, 0, 0.3);}.wkit-wb-Widget_7kq3uw24 .wkit-vl-bg-dark-opacity-3:hover {
    background-color: rgba(0, 0, 0, 0.3);}.wkit-wb-Widget_7kq3uw24 .wkit-shadow-hover-lg:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1), 0 2rem 3rem rgba(0, 0, 0, 0.15);}.wkit-wb-Widget_7kq3uw24 .wkit-vl-bg-gradient-primary {
    background-color: #1818e8;}.wkit-wb-Widget_7kq3uw24 .wkit-pix-leveles-dot-div {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    width: 100%;
    margin-top: -39px;
    margin-left: -15px;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-dot-inner {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow:hidden;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step:hover .wkit-vl-pix-levels-dot {
    transform: scale(1.25);}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step .progress {
    position: relative;
    border-radius: 0;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
    width: 100%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step .progress .progress-bar {
    width: 0;
    box-shadow: none;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step.wkit-vl-complete .progress .progress-bar {
    width: 100%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step.wkit-vl-active-yes .progress .progress-bar {
    width: 50%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step:first-child.wkit-vl-active-yes .progress .progress-bar {
    width: 0%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step:last-child.wkit-vl-active-yes .progress .progress-bar {
    width: 100%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step.disabled .wkit-vl-pix-levels-dot {
    background-color: #f5f5f5;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step.disabled .wkit-vl-pix-levels-dot:after {
    opacity: 0;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step:first-child .progress {
    left: 50%;
    width: 50%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-pix-levels-step:last-child .progress {
    width: 50%;}.wkit-wb-Widget_7kq3uw24 .wkit-vl-bg-gradient-primary {
    background-attachment: scroll;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-icon .wkit-vl-progress-icon {
    padding-bottom: 15px;
    display: inline-block;
    transition: 0.3s linear;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-icon .wkit-vl-progress-icon .dashicon{
    width: auto;
    height: auto;
     transition: 0.3s linear;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-image .wkit-vl-progress-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-image .tp-vl-title-image {
    width: 21px;
    display: flex;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-inner-style-2 .wkit-prg-two .wkit-vl-pix-levels-dot-inner {
    background: unset !important;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-inner-style-2 .wkit-prg-two{
    font-size: 16px;
    color: #fff;
    top: 1px;
    transition: .3s linear;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-inner-style-3 .wkit-vl-pix-levels-dot-inner.wkit-vl-check-mark:before {
    position: relative;
	display: block;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free', 'FontAwesome';
    color: #fff;
    content: '\f00c';
    top: -4px;  
    transition: .3s linear;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-inner-style-3 .wkit-vl-pix-levels-dot-inner.wkit-vl-check-mark.wkit-vl-bg-dark-opacity-3 {
    background-color: unset;}.wkit-wb-Widget_7kq3uw24 .wkit-multi-step-vl-wrapper .wkit-vl-step-content.wkit-vl-pix-levels-step.wkit-vl-active-yes{
    opacity: 100%;}