.customize-control-title .dashicons-editor-help {
    position: relative;
    top: 0.1em;
}

#customize-header-actions .spinner {
    margin-left: 4px;
}

/* Slider Control */
.customize-control-slider input[type=range]::-ms-tooltip {
	display: none;
}
.customize-control-slider .nxt-range-value {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: 1px;
}
.customize-control-slider input#nxt-range-value-input {
	width: 42px;
    height: 23px;
    font-size: 13px;
}
.customize-control-slider .nxt-slider-reset {
	color: rgba(0,0,0,.2);
	float: right;
	transition: color .5s ease-in;
}
.customize-control-slider .nxt-slider-reset span {
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
}
.customize-control-slider .nxt-slider-reset span:hover {
	color: red;
}
/* Slider Control */

.control-section.nxt-hide {
	display: none !important;
}

.customize-pane-child > li[id$="-content-layout"] > label,
.customize-pane-child > li[id$="-sidebar-layout"] > label {
    -js-display: flex;
    display: flex;
}

.customize-pane-child > li[id$="-content-layout"] > label .customize-control-title,
.customize-pane-child > li[id$="-sidebar-layout"] > label .customize-control-title,
.customize-pane-child > li[id$="-content-layout"] > label select,
.customize-pane-child > li[id$="-sidebar-layout"] > label select {
    flex: 1;
}

.customize-pane-child > li[id$="-content-layout"] > label select,
.customize-pane-child > li[id$="-sidebar-layout"] > label select {
    margin-left: 10px;
}

.nxt-hide{
	display: none !important;
}

/**
 * nxt-background Control
 */
.customize-control-nxt-background,.customize-control-nxt-background label {
	position: relative;
}
.nxt-d-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.nxt-align-center {
    align-items: center;
    justify-content: space-between;
}

/*Bg Type*/
.nxt-bg-type-list {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}
.nxt-bg-type-inner .nxt-bg-title {
    font-size: 13px;
    line-height: 2;
    /* font-weight: 500; */
    color: #010101;
}
.nxt-bg-type-list .nxt-check-btn {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: #fff;
    border: .5px solid hsla(0, 0%, 56%, .651);
    min-height: 26px;
    height: 26px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 5px;
    text-align: center;
    color: #8d96a0;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    cursor: pointer;
    margin-left: 0;
}
.nxt-bg-type-list .nxt-check-btn:hover {
    border-color: #1717CC;
}
.nxt-bg-type-list .nxt-check-btn {
    border-left: 0;
    border-radius: 0;
}
.nxt-bg-type-list .nxt-check-btn:nth-child(3) {
    border-left: .5px solid hsla(0, 0%, 56%, .651);
    border-radius: 3px 0 0 3px;
}
.nxt-bg-type-list .nxt-check-btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.nxt-check-btn .dashicons {
    width: 15px;
    height: 10px;
    font-size: 12px;
}

.nxt-bg-type-list .nxt-check-btn:last-child {
  border-radius: 0 3px 3px 0;
}
.nxt-bg-type-list .switch-input:checked + .nxt-check-btn {
    background: #1717CC;
    border-color: #1717CC;
    color: #fff;
}
.nxt-bg-type-inner .nxt-bg-reset {
	color: rgba(0,0,0,.2);
	transition: color .5s ease-in;
    margin-right: 4px;
}
.nxt-bg-type-inner .nxt-bg-reset span {
    font-size: 14px;
    line-height: 26px;
	cursor: pointer;
}
.nxt-bg-type-inner .nxt-bg-reset span:hover {
	color: #1717cc;
}
/*Bg Type*/

/*Gradient Icon Svg*/
.nxt-check-btn .tpgb-svg-stroke {
    stroke: #8d96a0;
}
.nxt-bg-type-list .switch-input:checked + .nxt-check-btn .tpgb-svg-stroke {
    stroke: #fff;
}
.nxt-check-btn .tpgb-svg-fill {
    fill: #8d96a0;
}
.nxt-bg-type-list .switch-input:checked + .nxt-check-btn .tpgb-svg-fill {
    fill: #fff;
}
/*Gradient Icon Svg*/

/*Background Color*/
.nxt-bg-color {
  position: relative;
}
.nxt-bg-color .wp-picker-container span.wp-color-result-text, .nxt-bg-color .wp-picker-container .wp-picker-clear {
    display: none !important;
}
.nxt-bg-color .wp-picker-holder {
  position: absolute;
  left: 0;
  z-index: 2;
}
.nxt-bg-color .wp-picker-container {
    margin-top: 5px;
}
.nxt-bg-color .button.wp-color-result {
  min-height: 26px;
  margin: 0px 6px 2px 0px !important;
  box-shadow: none;
  padding: 0 0 0 26px;
  overflow: hidden;
}
.nxt-bg-color.hidden, .nxt-bg-image.hidden, .nxt-bg-extra.hidden{
    display:none!important;
}
.customize-control-nxt-background .screen-reader-text {
  top: initial;
}

.customize-control-nxt-background .background-container h4 {
  font-weight: normal;
}
.nxt-control-background select {
    width: 100%;
    max-width: 110px;
}
/*Background Image*/
.nxt-bg-image .nxt-bg-title {
    margin-bottom: 10px;
}
.nxt-bg-image .bg-image-upload {
    position: relative;
}
.nxt-bg-image {
  position: relative;
  display: block;
  margin: 6px 0;
}
.nxt-bg-image .actions {
    position: absolute;
    top: -7px;
    right: 6px;
}
.nxt-bg-image .bg-image-upload-button {
    padding: 0 6px;
    border-color: #1717CC;
}
.nxt-bg-image svg.bg-img-upload-icon, .nxt-bg-image svg.bg-img-remove-icon {
    width: 16px;
    display: block;
    color: #1717CC;
}
.nxt-bg-image .bg-image-upload-remove-button {
    padding: 0 6px;
	margin-right: 5px;
}
/*Background Image*/
/*Background extra*/
.nxt-bg-extra{
  margin:5px 0; 
}
/*Background extra*/
/**
 * nxt-background Control
 */

/**
 * nxt-color Control
 */
.customize-control-nxt-color .wp-color-result span.color-alpha {
    height: 24px !important;
    border-radius: 2px !important;
    width: 26px !important;
}
.nxt-colorpicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nxt-colorpicker span.wp-color-result-text,.nxt-colorpicker .wp-picker-clear {
    display: none;
}
#customize-theme-controls .customize-pane-child.accordion-section-content {
    padding: 12px;
    height: 100%;
}
.nxt-colorpicker .iris-picker.iris-border {
    position: absolute;
    left: 0;
    z-index: 1;
}
.nxt-colorpicker input.nxt-color-picker-alpha {
    max-width: 110px;
}
.nxt-colorpicker .wp-picker-container .wp-color-result.button {
    min-height: 26px;
    padding: 0 0 0 26px;
    box-shadow: none;
    overflow: hidden;
}
.wp-picker-open+.wp-picker-input-wrap input[type=text]{
    height: 26px;
    min-height: 26px;
}
.wp-picker-open+.wp-picker-input-wrap input[type=text]:focus {
    box-shadow: none;
}
/**
 * nxt-color Control
 */

/**
 * nxt-heading Control
 */
.customize-control-nxt-heading label.customizer-text {
    display: block;
    margin: 0 -12px;
}
.customize-control-nxt-heading .customize-control-title {
	display: block;
    padding: 13px 12px;
    margin: 0;
    /* border-bottom: 2px solid #8072fc; */
    background-color: #fff;
    color: #040404;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
/**
 * nxt-heading Control
 */

/**
 * nxt-responsive Control
 */
.customize-control-title,.nxt-responsive-control-wrap .nxt-non-resp.nxt-responsive-number,.nxt-responsive-control-wrap .nxt-non-resp.nxt-responsive-number.active,.nxt-responsive-control-wrap .nxt-non-resp.nxt-responsive-unit,.nxt-responsive-control-wrap .nxt-responsive-number.active,.nxt-responsive-control-wrap .nxt-responsive-number.active+.nxt-responsive-unit,.nxt-responsive-devices,.nxt-responsive-devices>li.active {
    display: inline-block
}
.nxt-responsive-devices {
    line-height: 1;
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
}
.nxt-responsive-devices>li {
    display: none;
    margin-bottom: 0
}
.nxt-responsive-devices button[type=button] {
    padding: 0;
    background: 0 0;
    border: 0;
    opacity: .75;
    cursor: pointer;
    outline: 0
}
.nxt-responsive-devices button[type=button]>i {
    font-size: 15px;
    width: 15px;
    height: 15px
}
.nxt-responsive-control-wrap .nxt-responsive-number {
    display: none;
    width: calc(100% - 52px)!important;
    padding: 1px 8px;
    float: left
}
.nxt-responsive-control-wrap .nxt-responsive-unit {
    padding: 1px 4px;
    margin: 0 0 0 2px;
    width: 50px;
    display: none
}
/**
 * nxt-responsive Control
 */

/**
 * nxt-responsive-slider Control
 */
.customize-control-nxt-responsive-slider .wrapper {
    position: relative;
    margin-top: 12px;
}
.customize-control-nxt-responsive-slider .nxt-slider-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.customize-control-nxt-responsive-slider input[type=range]::-ms-tooltip {
    display: none
}
.customize-control-nxt-responsive-slider .nxt-slider-field {
    font-size: 14px;
    padding: 0 0 0 5px;
    font-weight: 400;
    position: relative
}
.customize-control-nxt-responsive-slider .nxt-reset-slider-resp span {
    font-size: 13px;
    line-height: 24px
}
.customize-control-nxt-responsive-slider .nxt-reset-slider-resp:focus,.customize-control-nxt-responsive-slider .nxt-reset-slider-resp:hover {
    color: #dc3232
}
.nxt-slider-field input.nxt-responsive-slider-number {
    width: 50px;
    height: 22px;
    font-size: 12px;
    padding: 3px;
	border-color: #8d96a0;
}
.nxt-slider-field input.nxt-responsive-slider-number:hover, .nxt-slider-field input.nxt-responsive-slider-number:focus {
    border-color: #1717CC;
}
.nxt-slider-field .nxt-slider-unit {
    margin-left: 5px
}
.customize-control-nxt-responsive-slider .nxt-slider-wrap {
    display: none
}
.customize-control-nxt-responsive-slider .nxt-slider-wrap.active {
    display: flex
}
/**
 * Responsive Icons
 */
.customize-control-title, .nxt-resp-slider-devices, .nxt-resp-slider-devices>li.active {
    display: inline-block;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.96px;
    text-align: left;
    color: #010101;
}
.customize-control-nxt-responsive-slider span.customize-control-title {
    margin: 0;
}
.nxt-resp-slider-devices, .nxt-resp-spacing-btns {
    height: 22px;
    margin-left: 8px;
    position: relative;
    width: 22px;
    z-index: 1;
    top: 5px;
}
.nxt-resp-spacing-btns {
    top: 8px;
}
.nxt-resp-slider-devices > li, .nxt-resp-spacing-btns > li {
    width: 22px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
    display: flex;
    height: 22px;
}
.nxt-resp-slider-devices > li button, .nxt-resp-spacing-btns > li button {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #fff;
    border: .5px solid hsla(0, 0%, 56%, .651);
    border-radius: 50%;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nxt-resp-slider-devices > li:hover button, .nxt-resp-spacing-btns > li:hover button {
    background: #1717CC;
    border-color: #1717CC;
}
.nxt-resp-slider-devices > li:hover svg path, .nxt-resp-spacing-btns > li:hover svg path {
    stroke: #fff;
    fill: none;
}

.nxt-resp-slider-devices:hover li.desktop, .nxt-resp-spacing-btns:hover li.desktop {
    opacity: 1;
    visibility: visible;
}
.nxt-resp-slider-devices:hover li.tablet, .nxt-resp-spacing-btns:hover li.tablet {
    opacity: 1;
    top: -27px;
    visibility: visible;
}
.nxt-resp-slider-devices:hover li.mobile, .nxt-resp-spacing-btns:hover li.mobile {
    opacity: 1;
    top: -54px;
    visibility: visible;
}

.nxt-resp-slider-devices .desktop.active, .nxt-resp-slider-devices .tablet.active, .nxt-resp-slider-devices .mobile.active, .nxt-resp-spacing-btns .desktop.active, .nxt-resp-spacing-btns .tablet.active, .nxt-resp-spacing-btns .mobile.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
/**
 * nxt-responsive-slider Control
 */

/**
 * nxt-responsive-spacing Control
 */
 .nxt-spacing-units-devices-wrap {
    display: inline-block;
    display: -webkit-inline-box;
    display: -moz-inline-box;
 }
.customize-control-nxt-responsive-spacing .customize-control-title {
    display: inline-block;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.96px;
    text-align: left;
    color: #010101;
    margin: 0 0 4px 0;
}
.customize-control-nxt-responsive-spacing .nxt-resp-spacing-wrap {
    display: flex;
    position: relative;
    margin-top: 10px;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-input-item {
    margin-bottom: 0
}


.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices {
    display: none
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li.nxt-spacing-input-item {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    flex-basis: 48%;
    position: relative;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li.nxt-spacing-input-link-unlink {
    align-items: center;
    border: solid #f0f3f4;
    border-radius: 4px;
    border-width: 1px 1px 2px;
    display: flex;
    height: 20px;
    justify-content: center;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 1;
    margin: 0;
    background: #fff;
    cursor: pointer;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li.nxt-spacing-input-link-unlink.disconnected{
    background: #1717CC;
    border: 1px solid #1717CC;
    color: #fff;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li.nxt-spacing-input-link-unlink.disconnected path {
    fill: #fff;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li input.nxt-spacing-input {
    border: .5px solid hsla(0, 0%, 56%, .651);
    height: 26px;
    margin: 0;
    min-height: 26px;
    padding: 0 4px 0 8px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li input.nxt-spacing-input:hover, .customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li input.nxt-spacing-input:focus {
    border-color: #1717CC;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li input.nxt-spacing-input::-webkit-inner-spin-button, 
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li input.nxt-spacing-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices.active {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices span.nxt-spacing-label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
/**
 * nxt-responsive-spacing Control
 */

/**
 * nxt-slider Control
 */
.customize-control-nxt-slider .nxt_slider_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.customize-control-nxt-slider .nxt_range_value {
    position: relative;
	font-size: 14px;
	font-weight: 400;
    padding: 0 0 0 5px
}
.customize-control-nxt-slider .nxt-slider-reset {
    position: absolute;
    top: -28px;
    right: 0;
	color: rgba(0,0,0,.2);
    display: inline-block;
}
.customize-control-nxt-slider .nxt-slider-reset span {
    font-size: 16px;
    line-height: 22px
}
.customize-control-nxt-slider .nxt-slider-reset:focus,.customize-control-nxt-slider .nxt-slider-reset:hover {
    color: #1717cc
}
.nxt_range_value input.nxt-slide-val-input {
    width: 50px;
    height: 22px;
	padding: 3px;
    font-size: 12px
}
.nxt_range_value input.nxt-slide-val-input:hover, .nxt_range_value input.nxt-slide-val-input:focus {
    border-color: #1717cc;
}
.nxt_range_value .nxt-slide-unit {
    margin-left: 5px
}
.nxt-slider-wrap input[type=range], .nxt_slider_wrap input[type=range] {
    -webkit-appearance: none;
    background: #e7e7f6!important;
    height: 4px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 0;
    padding-right: 0;
    width: 100%
}

.nxt-slider-wrap input[type=range]::-webkit-slider-runnable-track, .nxt_slider_wrap input[type=range]::-webkit-slider-runnable-track {
    animation: .2s;
    background: #e7e7f6!important;
    border: 0 solid #000;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    max-height: 4px;
    width: 100%;
    padding: 0 !important
}

.nxt-slider-wrap input[type=range]::-webkit-slider-thumb, .nxt_slider_wrap input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #1717CC!important;
    border: 4px solid #e7e7f6!important;
    border-radius: 30px;
    cursor: pointer;
    height: 20px;
    margin-top: -8px!important;
    width: 20px
}

.nxt-slider-wrap input[type=range]::-moz-range-track, .nxt_slider_wrap input[type=range]::-moz-range-track {
    animation: .2s;
    background: #e7e7f6!important;
    border: 0 solid #000;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    max-height: 4px;
    width: 100%
}

.nxt-slider-wrap input[type=range]::-moz-range-thumb, .nxt_slider_wrap input[type=range]::-moz-range-thumb {
    background: #1717CC!important;
    border: 4px solid #e7e7f6!important;
    border-radius: 30px;
    cursor: pointer;
    height: 20px;
    width: 10px
}

.nxt-slider-wrap input[type=range]::-webkit-slider-thumb {
    box-sizing: border-box;
}

.nxt-slider-wrap input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
}
.nxt-slider-wrap input[type=range] {
    line-height: 4px;
}

/**
 * nxt-slider Control
 */


/**
 * nxt-dimension and nxt-slider Unit Common CSS Start
 */
 .customize-control-nxt-responsive-spacing .nxt-spacing-units-devices, .customize-control-nxt-responsive-slider .nxt-slider-units-devices {
    position: absolute;
    top: -8px;
    right: 0;
    transform: translateY(-100%);
    text-transform: uppercase;
    width: max-content;
    display: inline-block;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27%3E%3Cpath fill=%27%23010101%27 d=%27M12.983 10.61a.27.27 0 0 0-.253-.168H7.263a.27.27 0 0 0-.253.168.29.29 0 0 0 .058.3l2.734 2.734a.28.28 0 0 0 .39 0l2.733-2.733a.29.29 0 0 0 .058-.301M12.983 9.39a.27.27 0 0 1-.253.168H7.263a.27.27 0 0 1-.253-.168.29.29 0 0 1 .058-.3l2.734-2.734a.28.28 0 0 1 .39 0l2.733 2.734a.29.29 0 0 1 .058.3%27/%3E%3C/svg%3E") no-repeat right 5px top 55%;
    border: .5px solid hsla(0, 0%, 56%, .651);
    color: #010101;
    min-height: 26px;
    font-size: 11px;
    padding-right: 20px;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-units-devices:hover, .customize-control-nxt-responsive-slider .nxt-slider-units-devices:hover {
    border-color: #1717CC;
    color : #1717CC;
}
.customize-control-nxt-responsive-spacing .nxt-spacing-inner-wrap .nxt-spacing-devices li input.nxt-spacing-input:focus, .customize-control-nxt-responsive-spacing .nxt-spacing-units-devices:focus, .customize-control-nxt-responsive-slider .nxt-slider-units-devices:focus{
    border: .5px solid #1717CC;
    box-shadow: none;
    color: #010101;
}
/**
 * nxt-dimension and nxt-slider Unit Common CSS End
 */


/**
 * nxt-switcher Control
 */
.customize-control.customize-control-nxt-switcher {
    margin-bottom: 8px;
}
.customize-control-nxt-switcher .nxt-switcher {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px
}
.customize-control-nxt-switcher .nxt-switcher .switch-input {
    display: none
}
.customize-control-nxt-switcher .customize-control-title {
    display: flex;
    align-items: center;
    margin-bottom: 0
}
.customize-control-nxt-switcher .nxt-switcher-wrap {
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
    align-items: center
}
.switch-label.switch-label-on {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%
}
.switch-label.switch-label-off {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%
}

label.switch-label::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 22px;
    padding: 2px;
    margin-left: auto;
    cursor: pointer;
    right: 0;
    border-radius: 30px;
    box-sizing: border-box;
    background: #F3F3F3;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);
}
label.switch-label::before {
    top: -10px;
    transform: none;
    background-color: #BFBFBF;
    border: 1px solid #BFBFBF;
}
.nxt-switcher-wrap input:checked + label.switch-label::before {
    border-color: #1717CC;
    background-color: #1717CC;
    transform: none;
}
label.switch-label::after {
    content: '';
    position: absolute;
    right: 21px;
    display: flex;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
}
label.switch-label::after {
    top: -6px;
    transform: none;
}
.nxt-switcher-wrap input:checked + label.switch-label::after {
    background: #fff;
    border-color: #fff;
    transform: translateX(15px);
}
.nxt-switcher-wrap input + label.switch-label:active::after {
    width: 20px;
    right: 15px;
}
.nxt-switcher-wrap input:checked + label.switch-label:active::after {
    right: 20px;
}
/**
 * nxt-switcher Control
 */

/**
 * nxt-typography Control
 */
.select2-container {
    width: 100%!important
}
span.select2-container.select2-container--default.select2-container--open li.select2-results__option {
    margin: 0
}
span.select2-container.select2-container--default.select2-container--open {
    z-index: 1111111
}
.select2-selection__rendered li {
    margin-bottom: 0
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,.select2-container--default .select2-selection--single,.select2-container--default.select2-container .select2-selection--multiple, .select2-dropdown .select2-search__field{
    border-color: #ddd;
    border-radius: 3px;
    border: 0.5px solid #8F8F8FA6
}
.customize-control .select2-container .select2-selection--single{
    height: 30px;
}
.customize-control .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 3px top 55%;
    background-size: 16px 16px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    border: 0;
    left: 0;
    margin: 0;
}
.customize-control select {
    border: 0.5px solid #8F8F8FA6
}
.customize-control-select {
    margin-bottom: 10px;
}
.customize-control-select .customize-control-title {
    margin-bottom: 8px;
}
.customize-control-select select:hover,.customize-control select:hover, .customize-control-nxt-font-family .select2-selection.select2-selection--single:hover {
    border-color: #1717CC;
    color: #1717CC;
}
 .customize-control-header button.remove, .customize-control .attachment-media-view .upload-button {
    border-color: #1717cc;
    color: #1717cc;
}
.customize-control-header button.remove:hover, .customize-control .attachment-media-view .upload-button:hover {
    border-color: #0303a0;
    color: #0303a0;
}
.customize-control .attachment-media-view .remove-button{
    border-color:#f12d2d;
    color: #f12d2d;
}
.customize-control .attachment-media-view .remove-button:hover{
    border-color:#ca2222;
    color: #ca2222;
}
.customize-control .attachment-media-view .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.customize-control .attachment-media-view .actions .button {
    width: 50%;
}
.select2-container--default .select2-selection--multiple:focus .select2-selection__choice, .select2-container--default .select2-selection--single:focus, .select2-container--default.select2-container .select2-selection--multiple:focus, .select2-dropdown:focus, .select2-dropdown .select2-search__field:focus {
    border: 1px solid #1717CC;
}

.control-section-nxt_section .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #F0F0F0;
    color: #696959;
}
.control-section-nxt_section .select2-container--default .select2-results__option--selected {
    background-color: #F0F0F0;
    color: #696959;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    border: 1px solid #D9D9D9
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple .select2-search__field {
    margin-top: 0;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple .select2-selection__clear {
    top: 5px;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin: 0;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F5F5F5;
    border-color: #F0F0F0;
    padding: 5px 20px 5px 5px;
    margin-bottom: 5px;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    right: 6px;
    top: 6px;
    border-radius: 5px;
    left: auto;
    border: none;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple {
    border-color: #D9D9D9;
    text-align: left;
}
.control-section-nxt_section .select2-search__field::placeholder{
    color: #4B465C80;
}
.control-section-nxt_section .select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    font-size: 12px;
    color: #4B465C;
    font-weight: 500;
    font-family: sans-serif;
}
.control-section-nxt_section .select2-selection--multiple .select2-selection__choice__display {
    max-width: 150px;
    width: auto;
    display: inline-block;
    text-wrap-mode: wrap;
}
.control-section-nxt_section .select2-container.select2-container--open .select2-selection--multiple, .control-section-nxt_section .select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: #1717CC;
}
/**
 * nxt-typography Control
 */

/**
 * nxt-style control start
 */
.nxt-image-select-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nxt-image-select-control label{
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    margin: 10px 0 10px;
    padding: 0;
    justify-content: center;
    width: calc(50% - 4px);
    align-items: center;
}
.nxt-image-select-control [type="radio"] {
    display: none;
}
.nxt-image-select-control img {
    border: 1px solid #8F8F8FA6;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
}
.nxt-image-select-control img:hover {
    border-color: #1717CC;
}
.nxt-image-select-control input[type="radio"]:checked + img {
    border-color: #1717CC;
}
/**
 * nxt-style control end
 */

/**
 * nxt-text-transform control start
 */
 .nxt-text-transform-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nxt-text-transform-options {
    display: flex;
    justify-content: space-between;
}

.nxt-text-transform-control .customize-control-title {
    margin: 0;
}

.nxt-text-transform-option {
    background: #fff;
    transition: 0.3s linear;
    color: #010101;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 12px;
    padding: 3px 10px;
    position: relative;
    text-align: center;
    align-items: center;
    border: .5px solid hsla(0, 0%, 56%, .651);
}
.nxt-text-transform-option:hover{
    border-color: #1717CC;
}
label.nxt-text-transform-option.option-index- {
    border-radius: 4px 0 4px 0;
}
label.nxt-text-transform-option:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
label.nxt-text-transform-option.option-index- {
    border-left: .5px solid hsla(0, 0%, 56%, .651);
    border-radius: 3px 0 0 3px;
}
label.nxt-text-transform-option:last-child {
    border-radius: 0 3px 3px 0;
}
.nxt-text-transform-options input {
    display: none; /* Hide the radio input */
}

.nxt-text-transform-options input:checked + label {
    background: #1717CC;
    color: #fff;
    border-color: #1717CC;
}

/* Hover effect */
.nxt-text-transform-options [data-label]::after, .nxt-text-transform-options [data-label]::before {
    position: absolute;
    display: none;
    text-transform: none;
    font-size: .8em;
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nxt-text-transform-options [data-label]::after {
    z-index: 1000;
    overflow: hidden;
    padding: 1ch 1.5ch;
    min-width: 3em;
    max-width: 21em;
    border-radius: .3ch;
    background: #000;
    color: #fff;
    content: attr(data-label);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Helvetica, sans-serif;
}
.nxt-text-transform-options [data-label]::before {
    z-index: 1001;
    border: 5px solid transparent;
    content: "";
}
.nxt-text-transform-options [data-label]::before {
    bottom: calc(100% + 0.02px);
    border-top-color: #000;
    border-bottom-width: 0;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.nxt-text-transform-options [data-label]:hover::after, .nxt-text-transform-options [data-label]:hover::before {
    display: block;
}
.nxt-text-transform-options [data-label]::after {
    bottom: calc(100% + 5px);
}
.nxt-text-transform-options [data-label]::after, .nxt-text-transform-options [data-label]::before {
    left: 50%;
    transform: translate(-50%, -.5em);
}
.nxt-text-transform-options [data-label]:hover::after, .nxt-text-transform-options [data-label]:hover::before {
    animation: tooltip-vertical .3s ease-out forwards;
}

@keyframes tooltip-vertical {
    to {
        opacity: .9;
        transform: translate(-50%,0)
    }
}
/**
 * nxt-text-transform control end
 */
