.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container {
    width: 100%;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .wkit-pnt-news a {
    white-space: nowrap; 
    border: 0px solid transparent;
    overflow: hidden;    
    text-overflow: ellipsis; 
    justify-content: center;}.wkit-wb-Widget_nzfoy625 .w-pntslider-content a{
    text-decoration: none;
    transition: 0.3s linear;}.wkit-wb-Widget_nzfoy625 .w-pntslider-content a:hover {
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-content a:active {
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-content a:visited {
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-pnt-button, .w-pntslider-style-5 .w-pnt-button {
    display: none !important;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .wkit-pnt-main-container .w-pnt-button .w-pnt-prevBtn,
.wkit-news-ticker-container .wkit-pnt-main-container .w-pnt-button .w-pnt-nextBtn{
    display: inline-flex;
   align-items: center;
    background: #000;
    border-radius: 100%;
    padding: 5px;
    width: 25px;
    height: 25px; 
    transition: 0.3s linear;}.wkit-wb-Widget_nzfoy625 .w-pnt-button .tp-title-icon{
   display: inline-flex;
   align-items: center;
    color: #ffffff;
    transition: 0.3s linear;}.wkit-wb-Widget_nzfoy625 .w-pnt-button .tp-title-icon .dashicon{
    width: auto;
    height: auto;
    transition: 0.3s linear;}/* Style-1 specific */
.wkit-news-ticker-container .w-pntslider-style-1 {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .w-pntslider-style-1 .wkit-pnt-news {
    display: flex;
    align-items: flex-end; 
    justify-content: flex-end; 
    margin-right: 15px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .wkit-pnt-news a{
     padding: 9px 15px 9px 15px;
    background: #000000;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-slider-pnt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 30px;
    position: relative;
    overflow: hidden;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pntslider-content{
    position: absolute;
    width: 100%;
   transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-content {
    transition: transform 0.3s ease;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pntslider-content a{
    font-size: 16px;
    color: #000000;
    weight: 400;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pntslider-content.active {
    transform: translateX(0); 
    opacity: 1; 
    z-index: 1;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pntslider-content.outgoing {
    transform: translateX(-100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pnt-button {
    display: flex;
    gap: 5px;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: background-color 0.3s ease;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pnt-button .w-pnt-prevBtn{
    margin-left: 10px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pnt-button .w-pnt-prevBtn, .w-pntslider-style-1 .w-pnt-button .w-pnt-nextBtn{
       display: inline-flex;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pnt-button .w-pnt-prevBtn, .w-pntslider-style-1 .w-pnt-button .w-pnt-nextBtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pnt-button .w-pnt-nextBtn:hover{
transform: translateX(3px); 
    transition: transform 0.3s ease-in-out;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-1 .w-pnt-button .w-pnt-prevBtn:hover{
transform: translateX(-3px); 
    transition: transform 0.3s ease-in-out;}/* style-2 */
.w-pntslider-style-2 {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.5s ease-in-out;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .w-pntslider-style-2 .wkit-pnt-news {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 25px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .wkit-pnt-news a{
    padding:9px 12px 9px 12px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-slider-pnt {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 30px;
    position: relative;
    overflow: hidden;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-pntslider-content {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    transform: translateX(100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-pntslider-content a{
    font-size: 16px;
    color: #000000;
    weight: 400;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-pntslider-content.active {
    transform: translateX(0); 
    opacity: 1;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-pntslider-content.outgoing {
    transform: translateX(-100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-2 .w-pnt-button-style-1, .w-pnt-button-style-3, .w-pnt-button-style-4{
    display: none;}/*style - 3*/
.wkit-news-ticker-container .w-pntslider-style-3 {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #00000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.5s ease-in-out;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .w-pntslider-style-3 .wkit-pnt-news {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    height: 100%;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .wkit-pnt-news a{
    padding: 20px 30px 20px 30px;
   color: #ffffff;
    background: #000000;
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-slider-pnt {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    position: relative;
    overflow: hidden;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pntslider-content {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    transform: translateY(100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pntslider-content a{
     font-size: 16px;
    color: #000000;
    weight: 400;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pntslider-content.active {
    transform: translateY(0); 
    opacity: 1;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pntslider-content.outgoing {
    transform: translateY(-100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pnt-button {
    display: flex;
    gap: 5px;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: background-color 0.3s ease;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pnt-button .w-pnt-prevBtn{
    margin-left: 10px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pnt-button .w-pnt-prevBtn, .w-pntslider-style-3 .w-pnt-button .w-pnt-nextBtn{
       display: inline-flex;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pnt-button .w-pnt-prevBtn, .w-pntslider-style-3 .w-pnt-button .w-pnt-nextBtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pnt-button .w-pnt-nextBtn:hover{
transform: translateY(3px); 
    transition: transform 0.3s ease-in-out;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .w-pnt-button .w-pnt-prevBtn:hover{
transform: translateY(-3px); 
    transition: transform 0.3s ease-in-out;}/*style - 4*/
.wkit-news-ticker-container .w-pntslider-style-4 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1.5px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .wkit-pnt-news {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: stretch; 
    justify-content: flex-start; 
    height: 100%;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .wkit-pnt-news a{
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .wkit-pnt-news a{
  display: flex;
    height: 100%;
    align-items: center;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-slider-pnt {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 30px;
    position: relative;
    overflow: hidden;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pntslider-content {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    transform: translateX(100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pntslider-content a{
    font-size: 16px;
    color: #000000;
    weight: 400;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pntslider-content.active {
    transform: translateX(0); 
    opacity: 1;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pntslider-content.outgoing {
    transform: translateX(-100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button {
    width: 20%;
    display: flex;
    gap: 5px;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: background-color 0.3s ease;
    justify-content: flex-end;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button .w-pnt-prevBtn{
    margin-left: 10px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button .w-pnt-prevBtn, .w-pntslider-style-4 .w-pnt-button .w-pnt-nextBtn{
       display: inline-flex;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button .w-pnt-prevBtn, .w-pntslider-style-4 .w-pnt-button .w-pnt-nextBtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button .w-pnt-nextBtn:hover{
transform: translateX(3px); 
    transition: transform 0.3s ease-in-out;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button .w-pnt-prevBtn:hover{
transform: translateX(-3px); 
    transition: transform 0.3s ease-in-out;}/*style - 5*/
.wkit-news-ticker-container .w-pntslider-style-5 {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background: #fffff;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.5s ease-in-out;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .wkit-pnt-news {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .wkit-pnt-news a{
     padding: 9px 12px 9px 12px;
     color: #ffffff;
    background: #000000;
    text-decoration: none;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .w-slider-pnt {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    padding: 30px;
    position: relative;
    overflow: hidden;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .w-pntslider-content {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    transform: translateX(100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .w-pntslider-content.active {
    transform: translateX(0); 
    opacity: 1;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .w-pntslider-content.outgoing {
    transform: translateX(-100%); 
    opacity: 0;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-5 .w-pnt-button-style-1, .w-pnt-button-style-3, .w-pnt-button-style-4{
    display: none;}.wkit-wb-Widget_nzfoy625 .wkit-post-slider-name{
    color:#000;}@media(max-width: 768px)  {  .wkit-wb-Widget_nzfoy625
    .wkit-pnt-main-container {
        flex-direction: column;
        height: auto;}.wkit-wb-Widget_nzfoy625 .w-slider-pnt {
        width: 100% !important;
        padding: 30px 20px !important;
        justify-content: center;
        text-align: center;}.wkit-wb-Widget_nzfoy625 .w-pnt-button {
        position: absolute;
        right: 0;}.wkit-wb-Widget_nzfoy625 .wkit-pnt-news{
        width: 100% !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        margin-right: 0 !important;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-4 .w-pnt-button {
        width: 35%;}}@media (max-width: 480px) {  .wkit-wb-Widget_nzfoy625
    .wkit-news-ticker-container .wkit-pnt-news a{
        font-size: 12px;}.wkit-wb-Widget_nzfoy625 .wkit-news-ticker-container .w-pntslider-content a{
    font-size: 12px;}.wkit-wb-Widget_nzfoy625 .w-pntslider-style-3 .wkit-pnt-news a, .w-pntslider-style-4 .wkit-pnt-news a{
    padding: 20px 20px 20px 20px;
    width: 100px;}}