.wkit-wb-Widget_od992b24 .wkit-button-border-animation{
    display:flex;
    justify-content:center;
    position:relative;
    overflow: hidden;}.wkit-wb-Widget_od992b24 .wkit-button-border-animation-wrapper{
    width: 100%;
     display: flex;}.wkit-wb-Widget_od992b24 .wkit-button-border-animtion-wrap{
    display: inline-flex;
    width: fit-content;
    text-decoration: none;}.wkit-wb-Widget_od992b24 .wkit-button-border-animation-inner {
    padding: 3px;
    background: #ffffff6b;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 100%;}.wkit-wb-Widget_od992b24 .wkit-button-inner {
    background: linear-gradient(20deg, #ff1313 0%, #fff 10%, transparent 10%, #fff 10%, transparent 60%);
    position: absolute;
    min-width: calc(100% + 10px);
    min-height: 100%;
    animation: wkit-button-border-animate 2s, wkit-button-border-animate 3s linear infinite;
    position: absolute;
    top: 50%;
    display: inline-block;
    left: 50%;
    aspect-ratio: 1/1;}.wkit-wb-Widget_od992b24 .wkit-border-icon{
    display: inline-flex;}.wkit-wb-Widget_od992b24 .wkit-border-icon .tp-title-icon{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    transition: all 0.3s linear;}.wkit-wb-Widget_od992b24 .wkit-border-icon .tp-title-icon .dashicon{
    width: auto;
    height: auto;
    transition: all 0.3s linear;}.wkit-wb-Widget_od992b24 .wkit-button-border-animation{
    padding:15px 40px;   
    font-size: 20px;
    line-height: 1em;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    background: black;
    color: #fff;
    align-items: center;
    gap: 7px;
    width:max-content;
    transition: all 0.3s linear;}@keyframes wkit-button-border-animate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg)}100% {
        transform: translate(-50%,-50%) rotate(360deg)}}