.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap {
    position: relative;
    width: 100%;
    height: auto;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item.wkit-item-active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  border: 1px solid;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  transition: .3s linear;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-items {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item-title {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
  transition: .3s linear;
  overflow: hidden;}.wkit-wb-Widget_16z8el24 .wkit-item-active .wkit-img-accord-items{
  transform: none;
  -webkit-transform: none;
  transition: .3s linear;
  border: 1px solid #fff;
  overflow: hidden;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-items .wkit-img-accord-item-desc {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item.wkit-item-active .wkit-img-accord-items .wkit-img-accord-item-desc {
  display:flex;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: .3s linear;
  overflow: hidden;
  justify-content: center;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .custom-carousel.wkit-custom-dots-yes .splide__pagination{
  display: none;}@media (min-width: 992px) and (max-width: 1199px)  {  .wkit-wb-Widget_16z8el24
 .wkit-img-accrod-main-wrap .wkit-img-accord-item-title {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item.wkit-item-active {
    width: 360px;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));}}@media (max-width: 767px)  {  .wkit-wb-Widget_16z8el24
.wkit-img-accrod-main-wrap .wkit-img-accord-item-title {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item.wkit-item-active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);}.wkit-wb-Widget_16z8el24 .wkit-img-accrod-main-wrap .wkit-img-accord-item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));}}