.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main{
    display:block;
    position: relative;
    width:100%;
    height:100%;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card-item {
    display: inline-block;
    position: relative;
    height: 450px;
    width: 300px;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-item .wkit-hover-3d-card .wkit-content{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    bottom: 35px;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card .wkit-hover-3d-card-title-1{
    font-size:15px;
    color: #000;
    margin-bottom:10px;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-stroke-yes,
.wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-stroke-title2-active,
.wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-stroke-title3-active{
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
   -webkit-text-fill-color: transparent;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card .wkit-hover-3d-card-title-2{
    font-size:15px;
    color: #000;
     margin-bottom:10px;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card .wkit-hover-3d-card-title-3{
    font-size:15px;
    color: #000;
    text-align: center;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-hover-3d-card-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-hover-3d-card-wrap {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow:hidden;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card:hover .wkit-hover-3d-card-wrap {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card .wkit-hover-3d-card-wrap::before,
.wkit-hover-3d-card .wkit-hover-3d-card-wrap::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card-wrap::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card .wkit-hover-3d-card-wrap::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-hover-3d-card:hover .wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-hover-3d-card-wrap::before,
.wkit-hover-3d-card-wrap::after {
  opacity: 1;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card:hover .wkit-hover-3d-card-wrap::after {
  height: 120px;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-card-title {
  width: 100%;
  transition: transform 0.5s;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card:hover .wkit-hover-card-title {
  transform: translate3d(0%, -50px, 100px);}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card .wkit-hover-card-character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;}.wkit-wb-Widget_dtikgw24 .wkit-hover-3d-card-main .wkit-hover-3d-card:hover .wkit-hover-card-character {
  opacity: 1;
  transform: translate3d(0%, -7%, 100px);}