.wkit-wb-Widget_aockms24 .wkit-hor-par-slider {
    display: flex;
    width: 100%;}.wkit-wb-Widget_aockms24 .wkit-slider-wrap{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    height: 70vh;
    float: left;
    transition: opacity 0.6s ease, transform 0.3s ease;}.wkit-wb-Widget_aockms24 .wkit-main-slider{
    width: 80%;}.wkit-wb-Widget_aockms24 .wkit-nav-slider{
    width: 20%;}.wkit-wb-Widget_aockms24 .side-bar-pos-left .wkit-nav-slider {
    padding-left: 5px;}.wkit-wb-Widget_aockms24 .side-bar-pos-right .wkit-nav-slider {
    padding-right: 5px;}.wkit-wb-Widget_aockms24 .swiper-slide {
    transition: 0.3s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;}.wkit-wb-Widget_aockms24 .swiper-slide .slide-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;}.wkit-wb-Widget_aockms24 .main-slide-overlay, .nav-slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s linear;
    background-color: transparent;}.wkit-wb-Widget_aockms24 .wkit-slider-content{
    z-index: 3;
    position: relative;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;}.wkit-wb-Widget_aockms24 .wkit-slider-content [data-title=""] {
    display: none;}.wkit-wb-Widget_aockms24 .wkit-slider-content [data-desc=""] {
    display: none;}.wkit-wb-Widget_aockms24 .wkit-slide-title{
    font-size: 25px;
    color: #fff;
    transition: 0.3s linear;
    display: block;
    width: 100%;}.wkit-wb-Widget_aockms24 .wkit-slide-desc {
    font-size: 15px;
    color: #fff;
    margin: 0;
    transform: translateX(50px);
    opacity: 0;
    transition: color 0.3s linear, opacity 0.3s ease, transform 0.7s ease;
    display: block;
    width: 100%;}.wkit-wb-Widget_aockms24 .wkit-slide-desc.show {
  transform: translateX(0);
  opacity: 1;}.wkit-wb-Widget_aockms24 .wkit-hor-par-slider.side-bar-pos-right{
    flex-direction: row-reverse;}.wkit-wb-Widget_aockms24 .swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white, .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white{
    background-image: unset;
    transition: 0.3s linear;}@media (max-width: 767px)  {  .wkit-wb-Widget_aockms24
    .wkit-main-slider{
        width: 70%;}.wkit-wb-Widget_aockms24 .wkit-nav-slider{
        width: 30%;}}