.wkit-wb-Widget_wo5xzf24 .wkit-text-3d-effect{
    display: block;
    position: relative;
    text-align: center;}.wkit-wb-Widget_wo5xzf24 .wkit-3d-stage {
  position: relative;
  display: inline-block;
  perspective: 9999px;
  transform-style: preserve-3d;}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:first-child{
    position: relative;}.wkit-wb-Widget_wo5xzf24 .w-3d-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  --wkitTextRotateX: 33deg;
  --wkitTextRotateY: 40deg;
  transform-style: preserve-3d;
  transition: 0.3s linear;
  transform: rotateY(var(--wkitTextRotateY)) rotateX(var(--wkitTextRotateX)) translateZ(0);}.wkit-wb-Widget_wo5xzf24 .continuous-animation-yes .w-3d-layer{
    animation: wkit-wave-effect 5s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;}.wkit-wb-Widget_wo5xzf24 .w-3d-layer span {
  font-size: 45px;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
  transition: 0.3s linear;}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(1) span {
  transform: translateZ(0px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(2) span {
  transform: translateZ(-1.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(3) span {
  transform: translateZ(-3px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(4) span {
  transform: translateZ(-4.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(5) span {
  transform: translateZ(-6px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(6) span {
  transform: translateZ(-7.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(7) span {
  transform: translateZ(-9px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(8) span {
  transform: translateZ(-10.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(9) span {
  transform: translateZ(-12px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(10) span {
  transform: translateZ(-13.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(11) span {
  transform: translateZ(-15px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(12) span {
  transform: translateZ(-16.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(13) span {
  transform: translateZ(-18px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(14) span {
  transform: translateZ(-19.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(15) span {
  transform: translateZ(-21px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(16) span {
  transform: translateZ(-22.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(17) span {
  transform: translateZ(-24px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(18) span {
  transform: translateZ(-25.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(19) span {
  transform: translateZ(-27px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(20) span {
  transform: translateZ(-28.5px);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(n+10) span {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(n+11) span {
  -webkit-text-stroke: 15px dodgerblue;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:nth-child(n+12) span {
  -webkit-text-stroke: 15px #0077ea;}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:last-child span {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);}.wkit-wb-Widget_wo5xzf24 .w-3d-layer:first-child span{
  color: #fff;
  text-shadow: none;
  position: relative;}@keyframes wkit-wave-effect {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);}}